#F{
   color: #32cd32;
   cursor: default;

}
#Resultado{
  color: coral;
  position: absolute;
  left: 500px;
  top: 500px;
  font-size: 40px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border-color: coral;
  border-width: 2px;
  border-style: solid;
 


}
#Resultado2{
    color: rgb(21, 112, 128);
    font-size: 40px;
    position: absolute;
    left: 500px;
    top: 390px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    border-color: rgb(21, 112, 128);
    border-width: 2px;
    border-style: solid;
    
 
}
#Resultado3{
    color: rgb(54, 219, 4);
    font-size: 40px;
    position: absolute;
    left: 500px;
    top: 280px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    border-color: rgb(54, 219, 4);
    border-width: 2px;
    border-style: solid;
}
#Resultado4{
  color: rgb(105, 7, 150);
  font-size: 40px;
  position: absolute;
  left: 500px;
  top: 170px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border-color: rgb(105, 7, 150);
  border-width: 2px;
  border-style: solid;
}
#Resultado5{
  color: rgb(207, 3, 3);
  font-size: 40px;
  position: absolute;
  left: 500px;
  top: 60px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border-color: rgb(207, 3, 3);
  border-width: 2px;
  border-style: solid;
}
#C{
  background-color: #000000;



}
#divs{
text-align: center;  
left: 500px;

}
#imgs{
  width: 200px;


}
#as{
color: cornsilk;
text-align: center;
size: 100px;
border-radius: 5px;
width: 200px;
height: 200px;
border-color: red;
border-width: 2px;
border-style: solid;


}
#g{
  color: white;
  width: 600px;
  font: 100;
  background:#000000 ;
  transition: width 1s, transform 1s ;
  text-align: center;
  transform: translate(50px);

}
#g:hover{
  width: 550px;
  transform: scaleY(1.15);
}
#txtN{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;


}
#txtH3{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline ;

}
#d-tbl{
  color: aliceblue;
  position: absolute;
  left: 1000px;
  top: 60px;
  border-radius: 10px;
  background-color: #29313d;


}
#accp{
  width: 150px;
  transform: translate(200px);


}
#drF{
color: red;


}
#drM{
color:yellow;


}
#drO{
  color:purple;
  
  
  }


#drE{
  color: greenyellow;
    
    
   }


#red{
    color: red;
    
    
    }
#ye{
    color:yellow;
    
    
    }
#pu{
      color:purple;
      
      
      }
#gy{
      color: greenyellow;
        
        
       }
#cya{
color: cyan;



}
#rbb{
  color: #e32636;

}
#bs{
  color: #87ceeb;

}


#navbar23{
 background-color: #333131;


}
::-webkit-scrollbar{
 width: 0;
}
#scrollPath{
 position: fixed;
 top: 0;
 right: 0;
 width: 10px;
 height: 100%;
 background: rgba(255, 255, 255, 0.05);


}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient( to top, #008aff,#00ffe7 );

  animation: animate 5s linear infinite;

}
@keyframes animate{

  0%,100%{
   filter: hue-rotate(0deg);


  }
  50%{
  filter: hue-rotate(360deg);

  }
}
#progressbar:before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( to top, #008aff,#00ffe7 );
  filter: blur(30px);
}
#progressbar:after{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( to top, #008aff,#00ffe7 );
  filter: blur(30px);
}
#habilidades{
 color: transparent;
 background: linear-gradient( to top, #008aff,#00ffe7 );
 -webkit-background-clip: text;
 background-clip: text;
 animation: animate2 5s linear infinite;

}
@keyframes animate2{
 0%,100%{
 filter: hue-rotate(0deg);

 }
 50%{
 filter: hue-rotate(360deg);


 }

}